rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
// allow read, write: if false;
// allow read, write: if true;
    match /agSched/{sessionId} {
//     READ SCHEDULES
      allow read: if true;
//     
//     WRITE SCHEDULES
			allow write: if get(/databases/$(database)/documents/agSched/private).data.roles[request.auth.uid] in ['admin', 'editor'];
    }
    match /sswSched/{sessionId} {
    allow read: if true;
    allow write: if get(/database/$(database)/documents/agSched/private).data.roles[request.auth.uid] in ['admin', 'editor'];
    }
  }
}