.sched-btn__box {
  padding: 2rem 3rem;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.schedBtn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  background-color: transparent;

  font-size: 1.5rem;
  box-shadow: 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2);

  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
  transition: all 0.2s;
}

.schedBtn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0.75rem 0.75rem 0 rgba(0, 0, 0, 0.2);
}

.schedBtn:nth-child(1) {
  color: var(--clr-black);
  background-color: var(--clr-teal);
}
.schedBtn:nth-child(2) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-green);
}
.schedBtn:nth-child(3) {
  color: var(--clr-white);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal-var);
}
.schedBtn:nth-child(4) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal);
}
.schedBtn:nth-child(5) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-green);
}
.schedBtn:nth-child(6) {
  color: var(--clr-white);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal-var);
}
.schedBtn:nth-child(8) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal);
}
.schedBtn:nth-child(9) {
  color: var(--clr-black);
  background-color: var(--clr-teal);
}
.schedBtn:nth-child(10) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-green);
}
.schedBtn:nth-child(11) {
  color: var(--clr-white);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal-var);
}
.schedBtn:nth-child(12) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal);
}
.schedBtn:nth-child(13) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-green);
}
.schedBtn:nth-child(14) {
  color: var(--clr-white);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal-var);
}
.schedBtn:nth-child(15) {
  color: var(--clr-black);
  /* border: 3px solid var(--clr-teal); */
  background-color: var(--clr-teal);
}
