.ui-card__box {
  padding: 2rem 5rem;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5rem;
}
.ui-card {
  padding: 0.5rem 1rem;
  /* background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.5)
  ); */
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 1rem 1rem 0 rgba(0, 0, 0, 0.26);
  aspect-ratio: 1/1;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.ui-card:nth-child(1) {
  /* background: linear-gradient(to right, var(--clr-green), var(--clr-green-var)); */
  background-color: var(--clr-green);
}
.ui-card:nth-child(2) {
  /* background: linear-gradient(to right, var(--clr-green-var), var(--clr-teal)); */
  background-color: var(--clr-teal-var);
}
.ui-card:nth-child(3) {
  /* background: linear-gradient(to right, var(--clr-green-var), var(--clr-green)); */
  background-color: var(--clr-green-var);
}
.ui-card:nth-child(4) {
  /* background: linear-gradient(to right, var(--clr-teal), var(--clr-green)); */
  background-color: var(--clr-teal);
}
.ui-card__heading {
  background: linear-gradient(
    to bottom right,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5)
  );
  border-radius: 20px;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-white);
}
.ui-card__icon {
  align-self: flex-end;
}
.ui-card__icon--icon {
  font-size: 2rem;
  color: var(--clr-black);
}
.ui-card__description {
  padding: 0.5rem;
}
.ui-card__description p {
  font-size: 0.9rem;
}

/* ===================== MEDIA QUERIES (SMALL DEVICES)  ===================== */
@media screen and (max-width: 1024px) {
  .ui-card {
    /* width: 90%; */
    align-items: flex-start;
    /* height: 10rem; */
  }
  .ui-card__box {
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 2rem;
  }
  .ui-card__icon {
    align-self: flex-start;
  }
  .ui-card__heading {
    height: 100%;
    background: none;
    border: none;
  }
}
@media screen and (max-width: 600px) {
  .ui-card__box {
    flex-direction: column;
    padding: 0.5rem 2rem;
  }
  .ui-card {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 10rem;
    /* height: auto; */
    padding: 0.5rem;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* padding: 2rem 3rem; */
  }
  .ui-card__icon {
    align-self: center;
  }
  .ui-card__heading {
    background: none;
    border: none;
    font-size: 1.7rem;
  }
}
