:root {
  --clr-green: #91cf96;
  --clr-Lgreen: #91cfb9;
  --clr-teal: #86c0cf;
  --clr-teal-var: #5b7a82;
  --clr-gold: #cfb87c;
  --clr-pink: #cf7291;
  --clr-cancel: rgba(182, 52, 52, 0.5);
  --clr-warn: orangered;
  --clr-white: #fff;
  --clr-black: #000;

  --container-with-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --typo-sans-serif: "Lato", sans-serif;
  --typo-serif: "Roboto Slab", serif;

  --transition: all 400ms ease;

  --box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  --box-shadow--grow: 0.7rem 0.7rem 0.7rem rgba(0, 0, 0, 0.3);
  --box-shadow--shrink: 0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.3);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.form-basic {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.form-basic input {
  font-family: Arial, Helvetica, sans-serif;
}

.table-basic {
  padding: 1rem;
  border: 1px sold #000;
}
td,
th {
  padding: 1rem;
  /* border: 1px solid #000; */
}

/* LOADING SPINNER */
.loader--bkg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10000;
}
.loader {
  border: 20px solid var(--clr-gold);
  border-top: 20px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  /* position: fixed;
  top: 50%;
  left: 50%; */
  /* transform: translate(-50%, -50%); */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.btn-google {
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  transition: var(--transition);
}
.btn-google img {
  height: 3rem;
}
.btn-google:hover {
  transform: translateY(-0.1rem);
  box-shadow: var(--box-shadow--grow);
  cursor: pointer;
}
.btn-google:active {
  transform: translateY(0.1);
  box-shadow: var(--box-shadow--shrink);
}

.enter-page {
  padding: 2rem 5rem;
}

.navbar {
  height: 5rem;
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  /* right: 0; */
  /* bottom: 3rem; */
  display: flex;
  background-color: #eee;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
  gap: 3rem;
}
.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.btn-box {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.btn-login {
  justify-self: flex-end;
  background-color: var(--clr-gold);
  /* border-radius: 10px; */
  font-size: 1rem;
  border: none;
}
.btn-logo {
  font-size: 1.5rem;
  border: 3px solid var(--clr-gold);
  font-weight: bold;
  background-color: transparent;
}

.btn {
  cursor: pointer;
  box-shadow: var(--box-shadow);
  padding: 0.5rem;
}

.nav-link {
  /* border-bottom: 1px solid #000; */
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}

.push-left {
  display: flex;
  gap: 1rem;
}

.danger-link {
  color: red;
  cursor: pointer;
  border-bottom: 1px solid red;
  transition: var(--transition);
}
.danger-link:hover {
  color: #000;
  border-bottom: 1px solid #000;
}

.is-deleted {
  background-color: red;
}

main {
  padding: 2rem 3rem;
}

.zoom-session {
  background-color: var(--clr-green);
}
.in-person-session {
  background-color: var(--clr-gold);
}
.cancel-session {
  background-color: rgba(182, 52, 52, 0.5);
}

/* Table Styling */
table {
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0.5rem;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  outline: none;

  height: 100px;
  /* overflow-y: scroll; */

  box-shadow: var(--box-shadow);
}
td,
th {
  /* border: 1px solid var(--clr-white); */
  padding: 1rem;
}
th {
  text-align: left;
}
/* tr:nth-child(odd) {
  background-color: rgb(255, 255, 255);
} */

tr:not(:last-child) {
  border-bottom: 1px solid var(--clr-white);
}
td:not(:last-child) {
  border-right: 1px solid var(--clr-white);
}

.table--link:link,
.table--link:visited {
  color: black;
  border-bottom: 1px solid black;
  transition: var(--transition);
}

.table--link:hover,
.table-link:active {
  color: blue;
  border-bottom: 1px solid blue;
}

/* ===================== MEDIA QUERIES (SMALL DEVICES)  ===================== */
@media screen and (max-width: 600px) {
  table {
    overflow: scroll;
    height: auto;
  }
  td,
  th {
    padding: 0.5rem;
  }
}
